body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14vw;
}

a {
    text-decoration: none;
    color: black;
    padding: 0px;
}

a div {
    padding: 0px;
}

a:active {
    color: gray;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    border-bottom-style: solid;
    border-color: rgba(128, 128, 128, 25%);
    border-bottom-width: thick;

}

.navbar-left .logo {
    width: 90px;
    max-width: 90px;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 20px;

}

.navbar-right a {
    font-style: normal;

}

.navbar-left div:hover {
    color: gray;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    margin: 0;
    padding: 0;
}

.navbar-left>* {
    padding: 20px;
}


.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease;
    margin-right: 50px;
    cursor: pointer;
    order: 3;
}

.about:hover {
    transition: color 0.3s ease;
    color: gray;
}

.shop {
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
    order: 2;
}

.shop:hover {
    transition: color 0.3s ease;
    color: gray;
}

.shop svg {
    padding: 0px;
}

.container{
    /**/
    display: grid;
    max-width: 988px;
    margin: 100px auto;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr); /*adjust the sizes per column   | | |   */ /*adjust the sizes per row <---->  */
    grid-auto-rows: minmax(200px, auto); /*auto adjust the size depending on the content size <---->  */
    gap: 20px 15px;
}


.items{
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 20px;
    box-shadow: 0px 0px 11px 2px rgba(143,143,143,1);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(143,143,143,1);
}
.items:hover{
    transition: 0.3s ease-in;
    cursor:pointer;
}

.container-context{
    width: 100%;
}
.items img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}