body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14vw;
}

a {
    text-decoration: none;
    color: black;
    padding: px
}

a div {
    padding: 0px;
}

a:active {
    color: gray;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.33);
}

.navbar-left .logo {
    width: 90px;
    max-width: 90px;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 20px;

}

.navbar-right a {
    font-style: normal;

}

.navbar-left div:hover {
    color: gray;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    margin: 0;
    padding: 0;
}

.navbar-left>* {
    padding: 20px;
}


.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease;
    margin-right: 50px;
    cursor: pointer;
    order: 3;
}

.about:hover {
    transition: color 0.3s ease;
    color: gray;
}

.shop {
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
    order: 2;
}

.shop:hover {
    transition: color 0.3s ease;
    color: gray;
}

.shop svg {
    padding: 0px;
}

.slideshow {
    position: relative;
    height: 100%;
    z-index: -1;
}